## Final Project Submission

Please fill out:
* Student name: ``William Muthama``
* Student pace: ``part time hybrid``
* Scheduled project review date/time: ``23rd July to 30th July``
* Instructor name: ``Anthonny Muiko``
* Blog post URL: `` https://github.com/WILLY-GUSH/dsc-phase-2-project-v3 ``

## Overview
This analysis aims to guide Trupress's entry into film production by examining data from the film industry to identify the optimal director, release month, and genres for a high Return on Investment film.

## Business Problem
Trupress plans to start a movie studio to create original content. Using data from IMDb and The Numbers, I will analyze various films to determine the best directors, release months, and genres for achieving the highest Return on Investment.

## Data Understanding
The data sources include:

-``IMDB``

-``The Numbers``

These datasets provide information on film titles, release dates, genres, gross profits, and production budgets. Combining this data will help identify the most profitable options for Trupress's new movie studio.

In [2]:
# Import libraries
import pandas as pd
import sqlite3
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
# Load IMDb data
conn = sqlite3.connect("im.db")
query = """
SELECT
    mb.primary_title AS movie_title,
    mb.genres,
    p.primary_name AS director_name
FROM movie_basics AS mb
JOIN directors AS d ON mb.movie_id = d.movie_id
JOIN persons AS p ON d.person_id = p.person_id
GROUP BY mb.primary_title
HAVING primary_profession LIKE '%director%'
"""
imdb = pd.read_sql(query, conn)

DatabaseError: Execution failed on sql '
SELECT
    mb.primary_title AS movie_title,
    mb.genres,
    p.primary_name AS director_name
FROM movie_basics AS mb
JOIN directors AS d ON mb.movie_id = d.movie_id
JOIN persons AS p ON d.person_id = p.person_id
GROUP BY mb.primary_title
HAVING primary_profession LIKE '%director%'
': no such table: movie_basics

In [ ]:
# Load The Numbers data
tn_mb = pd.read_csv('bom.movie_gross.csv')

In [ ]:
# Display data information
imdb.info()

In [ ]:
# Display data information
tn_mb.info()

## IMDB Data Overview:

The IMDB dataset, which is the primary source for this project, includes records from the movie_basics and persons tables. It features over 120,000 film titles ``(movie_title)``, various genres ``(genres)``, and directors' names ``(director_name)``.

In [ ]:
# Display the first five rows
imdb.head()

In [ ]:
# Extract genres and make calculations of each unique genre
imdb['genres'].value_counts()

In [ ]:
# first 20 entries
imdb['director_name'].value_counts()[:20]

## Data Cleaning
### IDBM Data Cleaning

For The Numbers dataset, I will rename the columns, extract the release month, remove unnecessary columns, convert financial columns to floats, and reformat the foreign gross to a more readable number. 

Additionally, I'll remove records without domestic or foreign gross profit.

In [ ]:
# Rename the movie column
tn_mb.rename(columns={'title': 'movie_title'}, inplace=True)

In [ ]:
# Display the columns
tn_mb.columns

In [ ]:
# Extract the release month from the release date
tn_mb['year'] = tn_mb['year'].astype(str)

In [ ]:
# Convert financial columns to float
tn_mb['domestic_gross'] = tn_mb['domestic_gross'].replace('[\$,]', '', regex=True).astype(float)
tn_mb['foreign_gross'] = tn_mb['foreign_gross'].replace('[\$,]', '', regex=True).astype(float)

In [ ]:
# Remove records with both domestic and worldwide gross equal to 0
tn_mb = tn_mb[(tn_mb['domestic_gross'] != 0) & (tn_mb['foreign_gross'] != 0)]

## Merging Datasets

Combining the data from The Numbers and IMDB allows for a unified dataset for feature engineering and analysis. I'll exclude unmatched records to avoid missing values.

In [ ]:
tn_mb.info()

In [ ]:
tn_mb.head()

In [ ]:
# Merge datasets on the 'movie_title' column
movie_data = pd.merge(tn_mb, imdb, on='movie_title', how='inner')

In [ ]:
# Create ROI column
movie_data['roi'] = movie_data['foreign_gross'] - movie_data['domestic_gross']

In [ ]:
# Reorder and drop unnecessary columns
movie_data = movie_data[['movie_title', 'year', 'genres', 'director_name', 'roi']]

In [ ]:
movie_data.head(5)

## Analysis

### Most Profitable Year of Release

Films released in 2017, 2018, 2016 offer the highest mean Return on Investment, with November as a secondary option if delays occur.

In [ ]:
# Group data by release year and calculate count, mean, and median of ROI
profit_years = movie_data.groupby('year')['roi'].agg(['count', 'mean', 'median'])

In [ ]:
profit_years_mean = profit_years.sort_values(by='mean', ascending=False).head(10)
profit_years_mean

In [ ]:
# Plot the bar chart
plt.figure(figsize=(12, 6))
sns.barplot(x='year', y='mean', data=profit_years_mean, palette='viridis')

# Add labels and title
plt.xlabel('Year of Release')
plt.ylabel('Mean ROI')
plt.title('Top 10 Years by Mean ROI')
plt.xticks(rotation=45)
plt.show()

### Director Most Likely to Create a Film with a High Return on Investment

Based on data, the top directors likely to provide high Return on Investment are:

``Steven Spielberg``

``Ridley Scott``

``Clint Eastwood``

In [ ]:
# Group data by director and calculate count, mean, and median of ROI
profit_directors_avg = movie_data.groupby('director_name')['roi'].agg(['count', 'mean', 'median'])

In [ ]:
# Sort by the number of films directed and display top 5 directors
top_directors = profit_directors_avg.sort_values(by='count', ascending=False).head(3)
top_directors

### Return on Investment Based on Genre

Films with the combination of genres such as Action, Adventure, and Sci-Fi are most likely to provide a high Return on Investment.

In [ ]:
# Group data by genres and calculate count, mean, and median of Return on Investment
profit_genre_avg = movie_data.groupby('genres')['roi'].agg(['count','mean', 'median'])

In [ ]:
# Sort by mean Return on Investment and display top 10 genres
top_genres_mean = profit_genre_avg.sort_values(by='mean', ascending=False).head(10)
top_genres_mean

### Conclusions and Recommendations

`1`Release Timing: Aim for film releases in ``2017``, ``2018``, ``2016`` offer. 

`2`Director Selection: Focus on directors like Steven ``Spielberg``, ``Ridley Scott``, and ``Clint Eastwood``.

`3`Genre Selection: Prioritize films with genres such as ``Action, Comedy, Mystery`` for the best Return on Investment.